<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    th, td {
      text-align: start;
      padding: 0.3rem;
    }

    body {
      background-color: #272b30;
      color: #aaaaaa;
    }
  </style>
</head>
<body>
  <h4>Information how to use the plotting</h4>
  <p>
    For multiplication, please always use the * character.
    5x + 1 can not be recognised. Correct would be 5*x + 1.
  </p>
  <p>
    Exponentiation: <br>
    x<sup>2</sup> => x^(2) = x^2 <br>
    x<sup>3</sup> => x^(3) <br>
    a<sup>b</sup> => a^(b) <br>
  </p>
  <table>
    <tr>
      <th style="padding-right: 3rem">Function</th>
      <th style="padding-right: 3rem">Syntax</th>
      <th style="padding-right: 3rem">Description</th>
    </tr>
    <tr>
      <td>Sine</td>
      <td>sin(x)</td>
      <td rowspan="6">For trigonometric functions, <br>radians are used.</td>
    </tr>
    <tr>
      <td>Cosine</td>
      <td>cos(x)</td>
      <td></td>
    </tr>
    <tr>
      <td>Tangent</td>
      <td>tan(x)</td>
      <td></td>
    </tr>
    <tr>
      <td>Arcsine</td>
      <td>asin(x)</td>
      <td></td>
    </tr>
    <tr>
      <td>Arccosine</td>
      <td>acos(x)</td>
      <td></td>
    </tr>
    <tr>
      <td>Arctangent</td>
      <td>atan(x)</td>
      <td></td>
    </tr>
    <tr style="height: 15px"></tr>
    <tr>
      <td>Squre root</td>
      <td>sqrt(x)</td>
      <td></td>
    </tr>
    <tr style="height: 15px"></tr>
    <tr>
      <td>Pi</td>
      <td>PI</td>
      <td>~ 3,14159</td>
    </tr>
    <tr>
      <td>e</td>
      <td>e</td>
      <td>~ 2,71828</td>
    </tr>
    <tr style="height: 15px"></tr>
    <tr>
      <td>Logarithm</td>
      <td>log2(x)</td>
      <td>
        log2(x) = log<sub>2</sub>x <br>
        log2(8) = log<sub>2</sub>2 = 3 <br>
        log<sub>3</sub>9 = log2(9) / log2(3) = 2 <br>
      </td>
    </tr>
    <tr>
      <td>Absolute value</td>
      <td>abs(x)</td>
      <td>
        abs(-1) = 1 <br>
        abs(1) = 1
      </td>
    </tr>
  </table>
</body>
</html>