.main-page-padding {
    margin-left: 2%;
    margin-right: 2%
}

@media screen and (min-width: 992px) {
    .main-page-padding {
        margin-left: 10%;
        margin-right: 10%
    }
}

@media screen and (min-width: 1600px) {
    .main-page-padding {
        margin-left: 20%;
        margin-right: 20%
    }
}