.input-fields-text {
    padding-top: 3px;
}

.row-separator-top {
    height: 10px;
}

.input-fields-numbers {
    width: 100%;
    text-align: end;
}

.button-redraw-plot {
    width: 100%;
    padding: 3px 0 3px 0;
}

.hidden {
    transition: height 0.6s;
    height: 0;
}

.sex-icon {
    font-size: 24px;
    margin: 3px 0 0 10px
}

.formula-info-icon {
    font-size: 22px;
    color: white;
    margin-left: 10px;
}

.formula-info-icon:hover {
    cursor: pointer;
}

